__pycache__/
.idea/
.vscode
*.cache
*.nsys-rep
.VSCodeCounter
build/
*.so
*.a
*.egg-info/
.coverage
*.csv
*.onnx
*.whl
*.so
tmp/
logs/
*/*build*/
.env/
all_models/test*
all_models/*_debug
all_models/*_release
